/* 
Color palette
Light shade: eff6f2
Light accent: b1a1ab
Primary: cd4a56
Dark accent: 858a9b
Dark shade: 2a3443
*/

/* #region global */

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	background-color: #eff6f2;
	color: #2a3443;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

.container {
  margin: 0 auto;
  width: 95%;
}

/* #endregion */

/* #region app header */

.app-header {
	background-color: #858a9b;
}

.app-header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.app-header__nav__logo {
	flex-grow: 1;
}

.app-header__nav__logo img {
	height: 40px;
}

.app-header__nav__menu {
	font-weight: bold;
}

.app-header__nav__menu__list {
	list-style-type: none;
}

.app-header__nav__menu__list__item {
	position: relative;
	display: inline-block;
}

.app-header__nav__menu__list__item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #eff6f2;
	transform: scaleX(0);
	transition: transform .2s ease;
}

.app-header__nav__menu__list__item:hover::after,
.app-header__nav__menu__list__item:focus::after,
.app-header__nav__menu__list__item--active::after {
	transform: scaleX(1);
}

.app-header__nav__menu__list__item a {
	display: inline-block;
	text-decoration: none;
	color: #eff6f2;
	margin: 1.2rem 0.9rem;
}

.app-header__nav__menu__list__item:hover a,
.app-header__nav__menu__list__item:focus a,
.app-header__nav__menu__list__item--active a {
	/* Can change color if want */
	color: #eff6f2;
}

.app-header__nav__menu__list__item ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #2a3443;
	border-radius: 0px 0px 10px 10px;
	list-style-type: none;
	z-index: 1;
}

.app-header__nav__menu__list__item:hover ul,
.app-header__nav__menu__list__item a:focus ~ ul,
.app-header__nav__menu__list__item:focus-within ul {
	display: block;
}

.app-header__nav__menu__list__item ul li a {
	margin-top: .8rem;
	margin-bottom: .8rem;
}

/* #endregion */

/* #end region */

/* #region index.html */		
.slideshow{
	height:420px;
	overflow:hidden; 
	position:relative; 
	}
.slideshow img{ 
	position:absolute; 
	animation-name:minislide;
	animation-duration:20s;
	animation-iteration-count:infinite;
	opacity:0; 
	width: 100%; 
	height:420px;
	}

@keyframes minislide {
	25%{opacity:1;} 40%{opacity:0;}
	}
	
.slideshow img:nth-child(4){animation-delay:0s;}
.slideshow img:nth-child(3){animation-delay:5s;}
.slideshow img:nth-child(2){animation-delay:10s;}
.slideshow img:nth-child(1){animation-delay:15s;}


.brands h1,.principles h1{
	
	margin:2rem 0;
	color:rgb(205,85,85);
	text-align:center;
	text-decoration:underline;
}

.brands-flex{
	display:flex;
	justify-content:center;
	flex-flow:row wrap;
}
.brands-flex div{
	width:250px;
	height:250px;
}

.brands-flex div img {
	width:250px;
	height:250px;
	border:2px solid rgb(56,71,82);
} 

.principles div {
	text-align:center;
}
.principles figure{
	display:inline-block;
	text-align:center;	
}
.principles img {
	width:150px;
	height:150px;
	margin:0rem 5.6rem;
}

.principles figcaption{
	margin-top:2rem;
}

/* #end region */ 

/* #region disclaimer.html*/
.disclaimer h1{
	color:rgb(205,85,85);
	margin-top:2rem;
	margin-bottom:0.5rem;
	display:inline-block;
	border-bottom:2px solid rgb(205,85,85);
}

.disclaimer h1,.disclaimer p{
	margin-left:3rem;
	margin-right:3rem;
	
}

.disclaimer p {
	line-height:2rem;
	text-align:justify;
	margin-bottom:1rem;
	letter-spacing:1px;
}

/* #end region */

/* #region footer */

#footer{
	width:100%;
	background-color:rgb(56,71,82);
	margin-top:6.5rem;
}

.info ul li,footer ul li a ,footer address{
	color:white;
}

.info,.link1,.link2,.link3{
	display:inline-flex;
}
footer ul li {
	list-style-type:none;
}

footer ul li a {
	text-decoration:none;
}

li.info2{
	font-weight:bold;
	font-size:1rem;
}

.info ul li{
	margin-left:4rem;
}

.link1 ul li,.link2 ul li,.link3 ul li{
	margin-left:6rem;
}
li.info1,li.info2,.link1 ul li,.link2 ul li,.link3 ul li{
	margin-top:2.5rem;
	padding-bottom:1rem;
}


footer a:hover{
	text-decoration:underline;
}

footer>address{
	text-align:center;
	padding:1rem 0rem;
	
}

/* #end region */

/* #region enquiry */
.eform-card {
	text-align: center;
	margin: 2% 10% 0 10%;
	height: 560px;
	position: relative;
	box-shadow:
		0 6.7px 5.3px rgba(0, 0, 0, 0.04),
		0 22.3px 17.9px rgba(0, 0, 0, 0.06),
		0 100px 80px rgba(0, 0, 0, 0.1);
}

.personal-info {
	width: 45%;
	margin: 3% 0 3% 5% ;
	float: left;
}

.enquiry {
	width: 40%;
	margin: 3% 0 3% 5%;
	float: left;
}

.personal-info-table, .address-table, .enquiry-table {
	text-align: left;
	width: 100%;
	border-collapse: separate;
	border-spacing: 1.25rem .75rem;
}

.personal-info fieldset, .enquiry fieldset {
	border: none;
}

.personal-info fieldset legend, .enquiry fieldset legend{
	text-align: left;
}

.submit-reset-container {
	clear: both;
	text-align: left;
	margin-left: 5%;
}

.submit-reset-container input {
	margin-right: 1%;
}

/* #endregion */

/* #region products.html */

.products-hero {
	text-align: center;
}

.products-hero__header {
	font-size: 3rem;
	margin: 0;
	margin-bottom: 1rem;
}

.products-hero__check {
	margin: 2rem 0;
}

.products-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.products-box__item {
	width: 250px;
	margin: 1rem;
	border-radius: .5rem;
	box-shadow:
		0 6.7px 5.3px rgba(0, 0, 0, 0.016),
		
		0 100px 80px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	transition: box-shadow .3s ease;
	text-decoration: none;
	color: inherit;
}

.products-box__item:hover {
	box-shadow:
		0 6.7px 5.3px rgba(0, 0, 0, 0.032),
		0 22.3px 17.9px rgba(0, 0, 0, 0.048),
		0 100px 80px rgba(0, 0, 0, 0.08);
}

.products-box__item__img {
	object-position: center;
	width: 100%;
	height: 250px;
}

.products-box__item__content {
	margin: .8rem;
	margin-bottom: 1.2rem;
}

.products-box__item__content__title {
	font-weight: bold;
	margin-bottom: .5rem;
}

.products-box__item__content__desc {
	opacity: .7;
}

/* #endregion */

/* #region single product share */

.product-hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	/* https://hearableworld.com/2018/08/15/the-best-earplugs-for-construction/ */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #eff6f2;
	text-shadow: 0 0 5px #2a3443;
	min-height: 15vw;
}

.product-hero__container__title {
	font-size: 2rem;
}

.product-hero__container__desc {
	font-size: 1rem;
}

.product-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3rem auto;
	max-width: 1000px;
}

.product-grid__item {
	width: 220px;
	margin: 1rem;
	border-radius: .5rem;
	box-shadow:
		0 6.7px 5.3px rgba(0, 0, 0, 0.016),
		0 22.3px 17.9px rgba(0, 0, 0, 0.024),
		0 100px 80px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	transition: box-shadow .3s ease;
}

.product-grid__item:hover {
	box-shadow:
		0 6.7px 5.3px rgba(0, 0, 0, 0.032),
		0 22.3px 17.9px rgba(0, 0, 0, 0.048),
		0 100px 80px rgba(0, 0, 0, 0.08);
}

.product-grid__item__img {
	object-position: center;
	width: 100%;
	height: 220px;
}

.product-grid__item__content {
	margin: .8rem;
	margin-bottom: 1.2rem;
}

.product-grid__item__content__title {
	font-weight: bold;
	margin-bottom: .5rem;
}

.product-grid__item__content__desc {
	opacity: .7;
	list-style-position: outside;
	margin-left:1rem;
}

/* #endregion */

/* #region product1.html */

.product-hero--earplug {
	background-image: url(images/construction_earplug.jpg);
}

/* #endregion */

/* #region product2.html*/

.product-hero--respirator{
	background-image: url(images/construction_respirator.jpg);
}

/* #endregion */

/* #region media queries */

@media (min-width: 580px) {
	.container {
		width: 540px;
	}
}

@media (min-width: 770px) {
	.container {
		width: 720px;
	}

	.product-hero {
		padding: 3rem;
	}

	.product-hero__container__title {
		font-size: 3rem;
	}

	.product-hero__container__desc {
		font-size: 1.5rem;
	}
}

@media (min-width: 990px) {
	.container {
		width: 950px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* #endregion */
